.head{
    height: 100px;
}
.barralogo{
    height: 30px;
    background-color: black;
    width: 100%;
    
}
.barralogo img{
 height: 15px;
}
.icon{
   font-size: 20px;
}
#jumbotron{
    background-position: center;
    background-size: cover;
    background-image:url("../img/jumbo-bg.png");
    height: 100vh;
    margin-top: 100px;
}
.box-jumbo{
    width: 35%;
    height: 100px;
    left: 75px;
    bottom: 220px;
}
.box-jumbo img{
    width: 100%;
}
.bordo-active{
    border: solid 2px #0070d1;
}
.blue{
    color: #0070d1;
}
.descrizionetitolo{
    color: #727272;
    font-size: 20px;
}

.border-card{
    border-color: #0070d1;
}
#jumbotron2{
    background-position: center;
    background-size: cover;
    background-image:url("../img/it-takes-two-hero-banner-desktop.jpg");
    height: 113vh;
}   
.box-jumbo2{
    width: 40%
}
.box-jumbo2 img{
    height: 200px;
}
#nuoveuscite{
    background-color: #1f1f1f;
    padding-bottom: 50px;
}
.backcard{
    background-color: #1f1f1f;
}
.box-titolo{
    margin: auto;
    width: 50%;
}
#PlayPlus{
    background-color: #bebcbb;   
}

.my_width{
    width: 70%;
}
.style-button{
    color: #0070d1;
    background-color: #d9dadc;
}
#PlayStudio{
    background-color: #161c3b;
}
.buttonStudio{
    background-color:#d9dadc;
}
.box-social{
    width: 70%;
    margin: auto;
}