.head{
    height: 100px;
}
.barralogo{
    height: 30px;
    background-color: black;
    width: 100%;
}

.barralogo img{
 height: 15px;
}

.menu-scomparsa{
    width: 100%;
}

.icon{
   font-size: 20px;
}

#jumbotron{
    background-position: center;
    background-size: cover;
    background-image:url("../img/jumbo-bg.png");
    height: 100vh;
    margin-top: 100px;
}
.box-jumbo{
    width: 35%;
    height: 100px;
    left: 75px;
    bottom: 220px;
}
.box-jumbo img{
    width: 100%;
}
.bordo-active{
    border: solid 2px #0070d1;
}
.blue{
    color: #0070d1;
}
.descrizionetitolo{
    color: #727272;
    font-size: 20px;
}

.card-border{
    opacity: 0.5;
}
#jumbotron2{
    background-position: center;
    background-size: cover;
    background-image:url("../img/it-takes-two-hero-banner-desktop.jpg");
    height: 113vh;
}   
.box-jumbo2{
    width: 40%
}
.box-jumbo2 img{
    height: 200px;
}
#nuoveuscite{
    background-color: #1f1f1f;
    padding-bottom: 50px;
}
.backcard{
    background-color: #1f1f1f;
}
.box-titolo{
    margin: auto;
    width: 50%;
}
#PlayPlus{
    background-color: #bebcbb;   
}

.my_width{
    width: 70%;
}
.style-button{
    color: #0070d1;
    background-color: #d9dadc;
}
#PlayStudio{
    background-color: #161c3b;
}
.buttonStudio{
    background-color:#d9dadc;
}
.box-social{
    width: 70%;
    margin: auto;
}

footer{
    background-color: #00439c;
}

.my-list{
    color:white;
    list-style: none;
    text-decoration: none;
}
.imgFoot{
    height: 70px;
}

/* media query*/

@media only screen and (max-width: 768px) {
    .box-jumbo{
        width: 80%;
    }
    .box-jumbo2{
        width: 80%;
    }
    .box-jumbo img{
        width: 40%;
    }
    .none{
        display: none;
    }
    
}

/*regole hoover*/

.card-border:hover{
    border-bottom: solid 3px #0070d1;
    opacity: 1;
}

.cornice:active{
    border: solid 2px #0070d1;
}
.hoverButtRed:hover{
    outline: 2px solid rgb(221, 31, 31);
    outline-offset: 5px;
    background-color: rgb(221, 31, 31);
}
.hoverButtblack:hover{
    outline: 2px solid rgb(7, 7, 7);
    outline-offset: 3px;
}
.hoverButtGray2:hover{
    outline: 2px solid #0f0f0f;
    outline-offset: -4px;
    background-color:#d9dadc;
    color: #000000;
}
.hoverButtGray:hover{
    outline: 2px solid #d9dadc;
    outline-offset: 3px;
    background-color:#d9dadc;
    color: #0070d1;
}