.head{
    height: 100px;
}
.barralogo{
    height: 30px;
    background-color: black;
    width: 100%;
    
}
.barralogo img{
 height: 15px;
}
.icon{
   font-size: 20px;
}
#jumbotron{
    background-position: center;
    background-size: cover;
    background-image:url("../img/jumbo-bg.png");
    height: 100vh;
    margin-top: 100px;
}
.box-jumbo{
    width: 35%;
    height: 100px;
    left: 75px;
    bottom: 220px;
}
.box-jumbo img{
    width: 100%;
}
.bordo-active{
    border: solid 2px #0070d1;
}
.blue{
    color: #0070d1;
}
.descrizionetitolo{
    color: #727272;
    font-size: 20px;
}

.border-card{
    border-color: #0070d1;
}